#Ignore files build by Eclipse
*.pydevproject
target
portal-core/target
portal-web/target
portal-service/target
portal-index/target
.project
portal-core/.project
portal-web/.project
portal-service/.project
portal-index/.project
.metadata
portal-core/.metadata
portal-web/.metadata
portal-service/.metadata
portal-index/.metadata
bin/**
portal-core/bin/**
portal-web/bin/**
portal-service/bin/**
portal-index/bin/**
tmp/**
portal-core/tmp/**
portal-web/tmp/**
portal-service/tmp/**
portal-index/tmp/**
tmp/**/*
portal-core/tmp/**/*
portal-web/tmp/**/*
portal-service/tmp/**/*
portal-index/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
portal-core/local.properties
portal-web/local.properties
portal-service/local.properties
portal-index/local.properties
.classpath
portal-core/.classpath
portal-web/.classpath
portal-service/.classpath
portal-index/tmp/.classpath
.settings/
portal-core/.settings/
portal-web/.settings/
portal-service/.settings/
portal-index/.settings/
.loadpath
portal-core/.loadpath
portal-web/.loadpath
portal-service/.loadpath
portal-index/.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# Java ignore
*.class

# Package Files #
*.jar
*.war
*.ear

#Linux ignore
.*
!.gitignore
*~

# OSX ignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Sublime project files
portal-web/src/main/webapp/dataportal.sublime-project
portal-web/src/main/webapp/WEB-INF/classes/portal.properties