h1, h2, h3 {
	margin: 0 0 0 96px;
	padding: 20px 0 0 0;
	font-size: 1.1em;
}
h4, h5, h6 {
	margin: 0 0 0 96px;
	padding: 20px 0 0 0px;
	font-size: 1.6em;
	color:rgba(0,0,0,0.6);
}
h4{
	font-size: 2em;
	padding: 20px 0 0 0px;
}
#twopartheader {
	margin: 20px 0 0px 0;
	padding: 0 0 0 85px;
	min-height: 70px;
	background: url('images/ico_help.png') no-repeat left top;
}
#twopartheader h2 {
	color: #34BCE0;
	padding: 5px 0 0 0;
	margin: 0;
	font-size: 2.3em;
	font-weight: normal;
	text-transform: uppercase;
}
#twopartheader h3 {
	padding: 7px 0 0 0px;
	margin: 0;
	font-weight: 400;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color:rgba(0, 0, 0, 0.4);
	font-size:1em;
}
#content p {
	margin: 5px 50px 10px 94px;
	line-height:1.2em;
}
#content ul, ol {
	margin: 10px 300px -10px 110px;
	padding: 0 10px 5px 14px;
}
#content li{
	padding:3px 0;
	line-height:1.2em;
}
#content ul.breadcrumblist {
	margin-left: 0px;
	padding-left: 0px;
}
#content textarea {
	margin: 5px 0 0 94px;
}
#content ul.noBorder {
	border: none;
}
.deeplinks {
	width: 720px;
	height: 100px;
}
#deepLinkingScreenshot {
	margin: 5px 0 0 94px;
	border: 1px solid #CCCCCC;
	width: 720px;
}
#content iframe {
	margin: 5px 0 0 88px;
	padding: 0;
}
#content ol ol {
	margin: 10px 0px -10px 10px;
	padding: 0 10px 5px 14px;
	border: none;
}
