/* results class - used for results from filter searchs */
th.sortableColumn a {
	text-decoration: none;
	border: none;
}

table.results { 
	 
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.results th {
	font-weight: bold;
	vertical-align:center;
	text-align:left;
	padding: 5px 5px 5px 5px;
	font-family:'Economica',Helvetica,Arial;
	font-size:1.3em;
	line-height:1em;
	padding: 6px 7px;
}

table.results td {
	padding: 6px 7px;
	vertical-align:center;
	text-align:left;
}

table.results td.count {
	text-align: center;
}

table.results td.include {
	width:10px;
	text-align: center;	
}

table.results td.lastColumn {
	padding-right:3px;
	text-align: center;
}

table.results tr {
}
table.results .odd{

}

table.results th.sortable a {
	font-weight: bold;
	text-align:left;
	padding: 5px 5px 5px 5px;
}

table.results th.sortable a:hover {
	text-align:left;
	padding: 5px 5px 5px 5px;
	-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
		transition: all 300ms ease;
}

/* statistics class - used for browsers for countries and datasets */

table.statistics {
	border:0px;
	width:100%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

table.statistics th {
	text-align: left;
	font-size:1.4em;
	font-family:'Economica', Helvetica, Arial;
	padding:4px 8px;
	line-height:1.1em;
}

table.statistics td.name {
	width:60%;
}

table.statistics td.count {
	width:10%;
	padding-left:5px;
}

table.statistics td.bigcount {
	width:20%;
	padding-left:10px;
}

table.statistics td.countrycount {
	width:30%;
	padding-left:10px;
}

table.statistics td.singlecount {
	width:40%;
	padding-left:10px;
}

table.statistics tr {
	border: 0px; 
	font-weight: normal;
}
table.statistics td {
	padding:8px 8px 4px 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	/*background:rgba(53, 188, 224, 0.1);*/
}
table.statistics .odd td{
	/*background:rgba(53, 188, 224, 0.2);*/
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

table.smallStatistics {
	padding-bottom:10px;
}

table.smallStatistics td.property {
	padding-right:30px;
}

/* to be moved to another home */
fieldset {
	border:0px;
}

fieldset label {
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-right:5px;
	text-align: left;
	width: 150px;
	padding-right: 20px;
	padding-bottom: 5px;	
}

fieldset br {
	clear:left;
}

form.acceptForm {
	margin: 10px 0px 10px 0px;
}


table.datasheet { border:1px solid #CCCCCC; border-collapse: collapse; background-color: #fffae4; padding: 5px; text-align:left; }
table.datasheet thead { padding-top: 3px; border:0;}
table.datasheet th { border-right: 1px solid gray; border-top:0; color: gray; padding:3px 5px 3px 5px; }
table.datasheet th.lastColumn { border-right: 0; border-top:0; }
table.datasheet td { border-right: 1px solid gray; width:100%; border-top: 1px solid gray; text-align:left; padding:3px 5px 3px 5px; vertical-align:center; }
table.datasheet td.lastColumn { border-right: 0; text-align:left; vertical-align:center; }
table.datasheet td.bottomLink { border:1px 0 0 0; border-right: 0; padding:3px 0 5px 5px; }

table.datasheetItem { width: 600px; margin: 0 0 20px 30px; text-align:left; } 
table.datasheetItem td { text-align:left; vertical-align:top; } 
table.datasheetItem td.chart { width:300px; }
table.datasheetItem td.datatable { width:300px; padding: 0 0 0 20px; }

.indexingHistory { border-collapse: collapse; text-align:left;}
.indexingHistory td, .indexingHistory th { border:1px solid #CCCCCC; padding: 5px 10px 5px 10px; }	
